- box(:id => "contact-box") do
  %hgroup
    %h1 Software Factory Team

  %section#contact_info

    %section#contact_people
      %section.contact_person
        = image_tag "contact/fabian.png"
        %span.contact_person-name Fabian Fagerholm,
        %br
        %a{:mailto => "Fabian.Fagerholm@cs.helsinki.fi"}>  Fabian.Fagerholm@cs.helsinki.fi
        ,
        %br
        (09) 191 51319

      %section.contact_person
        = image_tag "contact/pekka.png"
        %span.contact_person-name Pekka Abrahamsson,
        %br
        %a{:mailto => "Pekka.Abrahamsson@cs.helsinki.fi"}>  Pekka.Abrahamsson@cs.helsinki.fi
        ,
        %br
        (09) 191 51312
 
      %section.contact_person
        = image_tag "contact/unknown.png"
        %span.contact_person-name Petri Kettunen,
        %br
        %a{:mailto => "Petri.Kettunen@cs.helsinki.fi"}> Petri.Kettunen@cs.helsinki.fi
        ,
        %br
        (09) 191 51273

      %br.clear

      %section.contact_person
        = image_tag "contact/jaakko.png"
        %span.contact_person-name Jaakko Kurhila,
        %br
        %a{:mailto => "Jaakko.Kurhila@cs.helsinki.fi"}> Jaakko.Kurhila@cs.helsinki.fi
        ,
        %br
        (09) 191 51386

      %section.contact_person
        = image_tag "contact/juha.png"
        %span.contact_person-name Juha Taina,
        %br
        %a{:mailto => "Juha.Taina@cs.helsinki.fi"}> Juha.Taina@cs.helsinki.fi
        ,
        %br
        (09) 191 51311

      %section.contact_person
        = image_tag "contact/jussi.png"
        %span.contact_person-name Jussi Autere,
        %br
        %a{:mailto => "jussi@autere.com"}> jussi@autere.com
        ,
        %br
        +358 400 422565
  

      %br.clear

      %section.contact_person
        = image_tag "contact/matti.png"
        %span.contact_person-name Matti Paksula,
        %br
        %a{:mailto => "matti.paksula@cs.helsinki.fi" }> matti.paksula@cs.helsinki.fi

      %section.contact_person
        = image_tag "contact/unknown.png"
        %span.contact_person-name Kari Kähkönen,
        %br
        %a{:mailto => "Kari.Kahkonen@cs.helsinki.fi"}> Kari.Kahkonen@cs.helsinki.fi,
        %br
        (09) 191 51318

      %section.contact_person
        = image_tag "contact/henri.png"
        %span.contact_person-name Henri Karhatsu,
        %br
        %a{:mailto => "henri.karhatsu@karhatsu.com"}> henri.karhatsu@karhatsu.com
        ,
        %br
        +358 50 353 1885

      %br.clear

      %section.contact_person
        = image_tag "contact/unknown.png"
        %span.contact_person-name Vaibhavi Oza,
        %br
        %a{:mailto => "Vaibhavi.Oza@cs.helsinki.fi"}> Vaibhavi.Oza@cs.helsinki.fi,
        %br
        (09) 191 51630


      %section.contact_person
        = image_tag "contact/tatu.png"
        %span.contact_person-name Tatu Kairi,
        %br
        %a{:mailto => "tatu.kairi@cs.helsinki.fi"}> tatu.kairi@cs.helsinki.fi
        

      %br.clear

    %section#contact_address
      %u Address
      %br
      Software Factory,
      %br
      Department of Computer Science,
      %br
      PL 68 (Gustaf Hällströmin katu 2b),
      %br
      00014 UNIVERSITY OF HELSINKI

      %br
      %br
      %u Leave a message

  - if flash[:notice]
    %section.notice
      = flash[:notice]

  - if flash[:error]
    %section.error
      = flash[:error] 

  = form_tag do
    = label_tag :email
    = text_field_tag :email
    %br.clear
    = label_tag :message
    = text_area_tag :message
    %br.clear
    = submit_tag "Tell us"
  

