- box(:id => "contact-box") do
  %hgroup
    %h1 Software Factory Team

  %section#contact_info

    %section#contact_people
      %section.contact_person
        = image_tag "contact/fabian.png"
        %span.contact_person-name
          !=email_link("Fabian.Fagerholm@cs.helsinki.fi", "Fabian Fagerholm")
        %br
        (09) 191 51319

      %section.contact_person
        = image_tag "contact/pekka.png"
        %span.contact_person-name
          !=email_link("Pekka.Abrahamsson@cs.helsinki.fi", "Pekka Abrahamsson")
        %br
        (09) 191 51312
 
      %section.contact_person
        = image_tag "contact/unknown.png"
        %span.contact_person-name 
          !=email_link("Petri.Kettunen@cs.helsinki.fi", "Petri Kettunen")
        %br
        (09) 191 51273

      %br.clear

      %section.contact_person
        = image_tag "contact/jaakko.png"
        %span.contact_person-name 
          !=email_link("Jaakko.Kurhila@cs.helsinki.fi", "Jaakko Kurhila")
        %br
        (09) 191 51386

      %section.contact_person
        = image_tag "contact/juha.png"
        %span.contact_person-name 
          !=email_link("Juha.Taina@cs.helsinki.fi", "Juha Taina")
        %br
        (09) 191 51311

      %section.contact_person
        = image_tag "contact/jussi.png"
        %span.contact_person-name 
          !=email_link("jussi@autere.com", "Jussi Autere")
        %br
        +358 400 422565
  

      %br.clear

      %section.contact_person
        = image_tag "contact/matti.png"
        %span.contact_person-name 
          !=email_link("matti.paksula@cs.helsinki.fi", "Matti Paksula")
        %br

      %section.contact_person
        = image_tag "contact/unknown.png"
        %span.contact_person-name
          !=email_link("Kari.Kahkonen@cs.helsinki.fi", "Kari Kähkönen")
        %br
        (09) 191 51318

      %section.contact_person
        = image_tag "contact/henri.png"
        %span.contact_person-name 
          !=email_link("henri.karhatsu@karhatsu.com", "Henri Karhatsu")
        %br
        +358 50 353 1885

      %br.clear

      %section.contact_person
        = image_tag "contact/unknown.png"
        %span.contact_person-name 
          !=email_link("Vaibhavi.Oza@cs.helsinki.fi", "Vaibhavi Oza")
        %br
        (09) 191 51630


      %section.contact_person
        = image_tag "contact/tatu.png"
        %span.contact_person-name 
          !=email_link("tatu.kairi@cs.helsinki.fi", "Tatu Kairi")
        %br
        

      %br.clear

    %section#contact_address
      Software Factory,
      %br
      Department of Computer Science,
      %br
      PL 68 (Gustaf Hällströmin katu 2b),
      %br
      00014 UNIVERSITY OF HELSINKI

      %br
      %br

  - if flash[:notice]
    %section.notice
      = flash[:notice]

  - if flash[:error]
    %section.error
      = flash[:error] 

  = form_tag do
    = label_tag :email
    = text_field_tag :email
    %br.clear
    = label_tag :message
    = text_area_tag :message
    %br.clear
    = submit_tag "Tell us"
  

