- box(:id => "opening-box") do
  %hgroup
    %h1 Software Factoryn Avajaiset

  = image_tag "opening-day/106.jpg", :style => "display: block; width: 800px; margin: 0 auto 3em auto;"

  %hgroup
    %h2 Avajaisohjelma

  %section{:style => "width: 100%; margin-top: 2em;"}
    Katso myös avajaispäivän puheet!

  %section.opening_column{:style => "float: left;"}
    %hgroup
      %h2.time 13:00 – 13:30
      %h2 Software Factory -avauspuheenvuorot

    %section 
      = image_tag "contact/pekka.png", :align => "left"
      %b Pekka Abrahamsson, prof., Helsingin yliopisto: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/1"} "Software Factory on uudenlainen infrastruktuuri vahvistamaan opetusta, tutkimusta ja liike-elämän vuorovaikutusta"

    %section
      = image_tag "contact/esko_kilpi.png", :align => "left"
      %b Esko Kilpi, Esko Kilpi Oy: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/2"} "Interaktiivisesta arvonmuodostuksesta uutta lisäarvoa Suomelle"

 
    %hgroup
      %h2.time 13:30 – 14:00
      %h2 Opetusta yli tiedekuntarajojen ja yliopistojen

    %section
      = image_tag "contact/jaakko.png", :align => "left"
      %b Jaakko Kurhila, FT, Helsingin yliopisto: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/3"} "Ohjelmistotehdas integroituu saumattomasti opetukseen"

    %section
      = image_tag "contact/tommi_mikkonen.png", :align => "left"
      %b Tommi Mikkonen, prof. Tampereen teknillinen yliopisto: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/4"} "Ohjelmistoalan opetus hyötyy yritysten tarpeiden luomasta dynamiikasta"

    

  %section.opening_column{:style => "float: right;"}
    %hgroup
      %h2.time 14:00 – 14:30
      %h2 Ohjelmistotehtaan monialainen tutkimus

    %section
      %b Pekka Abrahamsson, prof., Helsingin yliopisto: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/5"} "Perustutkimuksen ja soveltavan tutkimuksen rajapinnassa syntyy oivalluksia"

    %section
      = image_tag "contact/jari_partanen.png", :align => "left"
      %b Jari Partanen, Dr., Elektrobit: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/6"} "Globaalin ohjelmistotoimittajan odotuksia ohjelmistotehtaan tutkimuksesta"

    %section
      = image_tag "contact/juha-pekka_tolvanen.png", :align => "left"
      %b Juha-Pekka Tolvanen, Dr., Metacase: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/7"} "Nerokkaasti automatisoiden huimia tuottavuusparannuksia"

    %hgroup
      %h2.time 14:30 – 15:00
      %h2 Ohjelmistotehtaasta ponnahtavat myös uudet kasvuyritykset

    %section
      = image_tag "contact/jussi.png", :align => "left"
      %b Jussi Autere, TkT, Gearshiftgroup Oyj: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/8"} "Kasvulaboratoriossa opitaan epäonnistumaan nopeasti!"

 
    %section
      = image_tag "contact/henri.png", :align => "left"
      %b Henri Karhatsu: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/9"} "Ohjelmistotehtaan ensimmäisen yritysaihion esittely ja demo"

  %br.clear

  %section.opening_column.opening_bottom
    %hgroup
      %h2.time 15:00 – 17:00
      %h2 Cocktail-tilaisuus, jossa mukana mm.

    %section
      = image_tag "cocktail.png", :align => "left"
      %ul
        %li Speaker's corner
        %li Tulevat yritysaihiot esittelyssä
        %li Ohjelmistotehtaan tutkimus esittäytyy postereilla
        %li Vierailu ohjelmistotehtaaseen
        %li Verkottumista ja pientä naposteltavaa

%br

- box do
  %hgroup
    %h1 Avajaispäivän kuvia

  %section#opening-pics
    %section.opening-pic
      %a{:href => "/images/opening-day/001.jpg"}
        = image_tag "opening-day/thumb-001.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/002.jpg"}
        = image_tag "opening-day/thumb-002.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/003.jpg"}
        = image_tag "opening-day/thumb-003.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/004.jpg"}
        = image_tag "opening-day/thumb-004.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/005.jpg"}
        = image_tag "opening-day/thumb-005.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/006.jpg"}
        = image_tag "opening-day/thumb-006.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/007.jpg"}
        = image_tag "opening-day/thumb-007.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/008.jpg"}
        = image_tag "opening-day/thumb-008.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/009.jpg"}
        = image_tag "opening-day/thumb-009.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/011.jpg"}
        = image_tag "opening-day/thumb-011.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/012.jpg"}
        = image_tag "opening-day/thumb-012.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/013.jpg"}
        = image_tag "opening-day/thumb-013.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/014.jpg"}
        = image_tag "opening-day/thumb-014.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/015.jpg"}
        = image_tag "opening-day/thumb-015.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/016.jpg"}
        = image_tag "opening-day/thumb-016.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/017.jpg"}
        = image_tag "opening-day/thumb-017.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/018.jpg"}
        = image_tag "opening-day/thumb-018.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/019.jpg"}
        = image_tag "opening-day/thumb-019.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/020.jpg"}
        = image_tag "opening-day/thumb-020.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/021.jpg"}
        = image_tag "opening-day/thumb-021.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/022.jpg"}
        = image_tag "opening-day/thumb-022.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/023.jpg"}
        = image_tag "opening-day/thumb-023.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/024.jpg"}
        = image_tag "opening-day/thumb-024.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/025.jpg"}
        = image_tag "opening-day/thumb-025.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/026.jpg"}
        = image_tag "opening-day/thumb-026.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/027.jpg"}
        = image_tag "opening-day/thumb-027.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/028.jpg"}
        = image_tag "opening-day/thumb-028.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/029.jpg"}
        = image_tag "opening-day/thumb-029.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/030.jpg"}
        = image_tag "opening-day/thumb-030.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/031.jpg"}
        = image_tag "opening-day/thumb-031.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/032.jpg"}
        = image_tag "opening-day/thumb-032.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/033.jpg"}
        = image_tag "opening-day/thumb-033.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/034.jpg"}
        = image_tag "opening-day/thumb-034.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/035.jpg"}
        = image_tag "opening-day/thumb-035.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/036.jpg"}
        = image_tag "opening-day/thumb-036.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/037.jpg"}
        = image_tag "opening-day/thumb-037.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/038.jpg"}
        = image_tag "opening-day/thumb-038.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/039.jpg"}
        = image_tag "opening-day/thumb-039.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/040.jpg"}
        = image_tag "opening-day/thumb-040.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/041.jpg"}
        = image_tag "opening-day/thumb-041.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/042.jpg"}
        = image_tag "opening-day/thumb-042.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/043.jpg"}
        = image_tag "opening-day/thumb-043.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/044.jpg"}
        = image_tag "opening-day/thumb-044.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/045.jpg"}
        = image_tag "opening-day/thumb-045.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/046.jpg"}
        = image_tag "opening-day/thumb-046.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/047.jpg"}
        = image_tag "opening-day/thumb-047.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/048.jpg"}
        = image_tag "opening-day/thumb-048.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/049.jpg"}
        = image_tag "opening-day/thumb-049.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/050.jpg"}
        = image_tag "opening-day/thumb-050.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/051.jpg"}
        = image_tag "opening-day/thumb-051.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/052.jpg"}
        = image_tag "opening-day/thumb-052.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/053.jpg"}
        = image_tag "opening-day/thumb-053.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/054.jpg"}
        = image_tag "opening-day/thumb-054.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/055.jpg"}
        = image_tag "opening-day/thumb-055.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/056.jpg"}
        = image_tag "opening-day/thumb-056.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/057.jpg"}
        = image_tag "opening-day/thumb-057.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/058.jpg"}
        = image_tag "opening-day/thumb-058.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/059.jpg"}
        = image_tag "opening-day/thumb-059.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/060.jpg"}
        = image_tag "opening-day/thumb-060.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/061.jpg"}
        = image_tag "opening-day/thumb-061.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/062.jpg"}
        = image_tag "opening-day/thumb-062.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/063.jpg"}
        = image_tag "opening-day/thumb-063.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/064.jpg"}
        = image_tag "opening-day/thumb-064.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/065.jpg"}
        = image_tag "opening-day/thumb-065.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/066.jpg"}
        = image_tag "opening-day/thumb-066.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/067.jpg"}
        = image_tag "opening-day/thumb-067.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/068.jpg"}
        = image_tag "opening-day/thumb-068.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/069.jpg"}
        = image_tag "opening-day/thumb-069.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/070.jpg"}
        = image_tag "opening-day/thumb-070.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/071.jpg"}
        = image_tag "opening-day/thumb-071.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/072.jpg"}
        = image_tag "opening-day/thumb-072.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/073.jpg"}
        = image_tag "opening-day/thumb-073.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/074.jpg"}
        = image_tag "opening-day/thumb-074.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/075.jpg"}
        = image_tag "opening-day/thumb-075.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/076.jpg"}
        = image_tag "opening-day/thumb-076.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/077.jpg"}
        = image_tag "opening-day/thumb-077.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/078.jpg"}
        = image_tag "opening-day/thumb-078.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/079.jpg"}
        = image_tag "opening-day/thumb-079.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/080.jpg"}
        = image_tag "opening-day/thumb-080.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/081.jpg"}
        = image_tag "opening-day/thumb-081.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/082.jpg"}
        = image_tag "opening-day/thumb-082.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/084.jpg"}
        = image_tag "opening-day/thumb-084.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/085.jpg"}
        = image_tag "opening-day/thumb-085.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/086.jpg"}
        = image_tag "opening-day/thumb-086.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/087.jpg"}
        = image_tag "opening-day/thumb-087.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/088.jpg"}
        = image_tag "opening-day/thumb-088.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/089.jpg"}
        = image_tag "opening-day/thumb-089.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/090.jpg"}
        = image_tag "opening-day/thumb-090.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/091.jpg"}
        = image_tag "opening-day/thumb-091.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/092.jpg"}
        = image_tag "opening-day/thumb-092.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/093.jpg"}
        = image_tag "opening-day/thumb-093.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/094.jpg"}
        = image_tag "opening-day/thumb-094.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/095.jpg"}
        = image_tag "opening-day/thumb-095.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/096.jpg"}
        = image_tag "opening-day/thumb-096.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/097.jpg"}
        = image_tag "opening-day/thumb-097.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/098.jpg"}
        = image_tag "opening-day/thumb-098.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/099.jpg"}
        = image_tag "opening-day/thumb-099.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/100.jpg"}
        = image_tag "opening-day/thumb-100.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/101.jpg"}
        = image_tag "opening-day/thumb-101.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/102.jpg"}
        = image_tag "opening-day/thumb-102.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/103.jpg"}
        = image_tag "opening-day/thumb-103.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/104.jpg"}
        = image_tag "opening-day/thumb-104.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/105.jpg"}
        = image_tag "opening-day/thumb-105.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/106.jpg"}
        = image_tag "opening-day/thumb-106.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/107.jpg"}
        = image_tag "opening-day/thumb-107.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/108.jpg"}
        = image_tag "opening-day/thumb-108.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/109.jpg"}
        = image_tag "opening-day/thumb-109.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/110.jpg"}
        = image_tag "opening-day/thumb-110.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/111.jpg"}
        = image_tag "opening-day/thumb-111.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/112.jpg"}
        = image_tag "opening-day/thumb-112.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/113.jpg"}
        = image_tag "opening-day/thumb-113.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/114.jpg"}
        = image_tag "opening-day/thumb-114.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/115.jpg"}
        = image_tag "opening-day/thumb-115.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/116.jpg"}
        = image_tag "opening-day/thumb-116.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/117.jpg"}
        = image_tag "opening-day/thumb-117.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/118.jpg"}
        = image_tag "opening-day/thumb-118.jpg"
    %section.opening-pic
      %a{:href => "/images/opening-day/119.jpg"}
        = image_tag "opening-day/thumb-119.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/120.jpg"}
        = image_tag "opening-day/thumb-120.jpg"
