- box(:id => "opening-box") do
  %hgroup
    %h1 Software Factoryn Avajaiset

  = image_tag "opening-day/106.jpg", :style => "display: block; width: 800px; margin: 0 auto 3em auto;"

  %hgroup
    %h2 Avajaisohjelma

  %section{:style => "width: 100%; margin-top: 2em;"}
    Katso myös avajaispäivän puheet!

  %section.opening_column{:style => "float: left;"}
    %hgroup
      %h2.time 13:00 – 13:30
      %h2 Software Factory -avauspuheenvuorot

    %section 
      = image_tag "contact/pekka.png", :align => "left"
      %b Pekka Abrahamsson, prof., Helsingin yliopisto: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/1"} "Software Factory on uudenlainen infrastruktuuri vahvistamaan opetusta, tutkimusta ja liike-elämän vuorovaikutusta"

    %section
      = image_tag "contact/esko_kilpi.png", :align => "left"
      %b Esko Kilpi, Esko Kilpi Oy: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/2"} "Interaktiivisesta arvonmuodostuksesta uutta lisäarvoa Suomelle"

 
    %hgroup
      %h2.time 13:30 – 14:00
      %h2 Opetusta yli tiedekuntarajojen ja yliopistojen

    %section
      = image_tag "contact/jaakko.png", :align => "left"
      %b Jaakko Kurhila, FT, Helsingin yliopisto: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/3"} "Ohjelmistotehdas integroituu saumattomasti opetukseen"

    %section
      = image_tag "contact/tommi_mikkonen.png", :align => "left"
      %b Tommi Mikkonen, prof. Tampereen teknillinen yliopisto: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/4"} "Ohjelmistoalan opetus hyötyy yritysten tarpeiden luomasta dynamiikasta"

    

  %section.opening_column{:style => "float: right;"}
    %hgroup
      %h2.time 14:00 – 14:30
      %h2 Ohjelmistotehtaan monialainen tutkimus

    %section
      %b Pekka Abrahamsson, prof., Helsingin yliopisto: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/5"} "Perustutkimuksen ja soveltavan tutkimuksen rajapinnassa syntyy oivalluksia"

    %section
      = image_tag "contact/jari_partanen.png", :align => "left"
      %b Jari Partanen, Dr., Elektrobit: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/6"} "Globaalin ohjelmistotoimittajan odotuksia ohjelmistotehtaan tutkimuksesta"

    %section
      = image_tag "contact/juha-pekka_tolvanen.png", :align => "left"
      %b Juha-Pekka Tolvanen, Dr., Metacase: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/7"} "Nerokkaasti automatisoiden huimia tuottavuusparannuksia"

    %hgroup
      %h2.time 14:30 – 15:00
      %h2 Ohjelmistotehtaasta ponnahtavat myös uudet kasvuyritykset

    %section
      = image_tag "contact/jussi.png", :align => "left"
      %b Jussi Autere, TkT, Gearshiftgroup Oyj: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/8"} "Kasvulaboratoriossa opitaan epäonnistumaan nopeasti!"

 
    %section
      = image_tag "contact/henri.png", :align => "left"
      %b Henri Karhatsu: 
      %a{:href => "http://video.helsinki.fi/richmedia/softwarefactory/9"} "Ohjelmistotehtaan ensimmäisen yritysaihion esittely ja demo"

  %br.clear

  %section.opening_column.opening_bottom
    %hgroup
      %h2.time 15:00 – 17:00
      %h2 Cocktail-tilaisuus, jossa mukana mm.

    %section
      = image_tag "cocktail.png", :align => "left"
      %ul
        %li Speaker's corner
        %li Tulevat yritysaihiot esittelyssä
        %li Ohjelmistotehtaan tutkimus esittäytyy postereilla
        %li Vierailu ohjelmistotehtaaseen
        %li Verkottumista ja pientä naposteltavaa

%br

- box do
  %hgroup
    %h1 Avajaispäivän kuvia

  %section#opening-pics

    %section.opening-pic
      %a{:href => "/images/opening-day/011.jpg", :title => "Tutkija Marko Ikonen auttoi muiden ohella viime hetken viimeistelyssä"}
        = image_tag "opening-day/thumb-011.jpg"

    %section.opening-pic
      %a{:href => "/images/opening-day/009.jpg", :title => "Factoryn opiskelijat painoivat vielä täysillä juuri ennen vieraiden tuloa"}
        = image_tag "opening-day/thumb-009.jpg"

    %section.opening-pic
      %a{:href => "/images/opening-day/006.jpg", :title => "Pekka Abrahamsson vastaanottamassa vieraita"}
        = image_tag "opening-day/thumb-006.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/001.jpg"}
        = image_tag "opening-day/thumb-001.jpg"

    %section.opening-pic
      %a{:href => "/images/opening-day/002.jpg", :title => "Julistenäyttely esitteli projekteja, jotka ovat tulossa Software Factoryyn"}
        = image_tag "opening-day/thumb-002.jpg"





    %section.opening-pic
      %a{:href => "/images/opening-day/014.jpg", :title => "Tapahtuman aloitti vauhdikas esitys"}
        = image_tag "opening-day/thumb-014.jpg"


    %section.opening-pic
      %a{:href => "/images/opening-day/018.jpg"}
        = image_tag "opening-day/thumb-018.jpg"


    %section.opening-pic
      %a{:href => "/images/opening-day/048.jpg"}
        = image_tag "opening-day/thumb-048.jpg"

    %section.opening-pic
      %a{:href => "/images/opening-day/050.jpg"}
        = image_tag "opening-day/thumb-050.jpg"


    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/070.jpg", :title => "Pekka Abrahamssonin tervetulijaispuhe"}
        = image_tag "opening-day/thumb-070.jpg"

    %section.opening-pic
      %a{:href => "/images/opening-day/072.jpg", :title => "Esko Kilpi puhui interaktiivisesta arvonmuodostuksesta"}
        = image_tag "opening-day/thumb-072.jpg"

    %section.opening-pic
      %a{:href => "/images/opening-day/078.jpg", :title => "Jaakko Kurhila kertoi, miten Software Factory integroidaan tietojenkäsittelytieteen laitoksen muuhun opetukseen"}
        = image_tag "opening-day/thumb-078.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/084.jpg", :title => "Timmo Mikkosen puhe käsitteli ohjelmistoalan opetusta"}
        = image_tag "opening-day/thumb-084.jpg"

    %section.opening-pic
      %a{:href => "/images/opening-day/091.jpg", :title => "Jari Partanen käsitteli odotuksiaan Software Factoryn tutkimukselta"}
        = image_tag "opening-day/thumb-091.jpg"

    %section.opening-pic
      %a{:href => "/images/opening-day/097.jpg", :title => "Juha-Pekka Tolvasen aihe kertoi tuottavuusparannuksista ohjelmistokehityksessä"}
        = image_tag "opening-day/thumb-097.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/101.jpg", :title => "Jussi Autere kehoitti ohjelmistokehittäjiä epäonnistumaan nopeasti"}
        = image_tag "opening-day/thumb-101.jpg"

    %section.opening-pic
      %a{:href => "/images/opening-day/103.jpg", :title => "Henri Karhatsu esitteli Software Factoryn ensimmäisen tuotteen, Gnoblesin"}
        = image_tag "opening-day/thumb-103.jpg"

    %section.opening-pic
      %a{:href => "/images/opening-day/113.jpg", :title => "Coctail-tilaisuudessa syötiin hyvin ja tutustuttiin uusiin ihmisiin"}
        = image_tag "opening-day/thumb-113.jpg"

    %br.clear

    %section.opening-pic
      %a{:href => "/images/opening-day/107.jpg", :title => "Software Factoryn avajaisien päätteeksi kerättiin vielä kaikki koolle yhteiskuvaa varten"}
        = image_tag "opening-day/thumb-107.jpg"



    %br.clear

