!!!
%html
  %head
    %title Software Factory
    = javascript_include_tag "jquery-1.4.1.min.js"
    = javascript_include_tag "rounded.js"
    :javascript
      /*
      $(document).ready(function(){
        Rounded('rounded', 10, 10);
        console.debug("foo")
      });
      */
    = stylesheet_link_tag "style"
  %body
    %header#main
      %a#header_logo{:href => root_path}
        = image_tag "logo.png"
      %a#site-be-opened{:href => "/pdf/Magazin_web.pdf"}
        = image_tag "site-will-be-opened.png"

      %nav#menu
        %li.menu_education
          / Education
        %li.menu_research
          / Research
        %li.menu_entrepreneurship
          / Enterpreneurship

    = yield
