!!!
%html
  %head
    %title Software Factory
    = javascript_include_tag "jquery-1.4.1.min.js"
    = javascript_include_tag "jquery.lightbox-0.5.pack.js"
    = javascript_include_tag "jquery.jgfeed-min.js"
    :javascript
      $(document).ready(function(){
        // protect email addresses from spam bots
        $("a.email").each(function(){
          this.href = "mailto:" + this.rel.replace('(replace at)', "@");
        });

        // setup lightbox
        $(".opening-pic > a").lightBox({
          fixedNavigation: true,
          imageLoading: '/images/lightbox-ico-loading.gif',
          imageBtnClose: '/images/lightbox-btn-close.gif',
          imageBtnPrev: '/images/lightbox-btn-prev.gif',
          imageBtnNext: '/images/lightbox-btn-next.gif'
        });


        if ($("#main_news").length > 0) {
          jQuery.jGFeed('http://blogs.cs.helsinki.fi/softwarefactory/feed/',
            function(feed){

              if (feed.entries.length > 0) {

                var html = "";

                for (var i = 0; i < feed.entries.length; i++)
                  var item = feed.entries[i];
                  html += '<a href="' + item.link + '" target="_blank">'+ item.title +'</a> <span>on '+ 
                    cleanDate(item.publishedDate) + '</span><br />';
                }

                $("#main_news > section > hgroup").after(html);

              } else {
                $("#main_news").hide();
              }
            }, 
          5);
        }
      });
      function cleanDate(dateString){
        var pattern = /\d\d:\d\d/;
        return dateString.split(pattern)[0].trim();
      }
    = stylesheet_link_tag "style"
    = stylesheet_link_tag "jquery.lightbox-0.5"

  %body
    %header
      %section
        %a#header_logo{:href => root_path}
          = image_tag "logo.png"

        = image_tag @slogan_name, :id => "slogan-image"

        %nav#menu
          %a.menu_education{:href => education_path}            
          %a.menu_research{:href => research_path}
          %a.menu_entrepreneurship{:href => entrepreneurship_path}
        

        %a{:href => contact_path, :id => "contact-link"}

    %section#main-wrapper
      %section#main-content
        = yield


      %br.clear
      %footer
        %section
          %span
            %a{:href => "http://www.cloudsoftwareprogram.org/", :target => "_blank"} Cloud Software Program
          %span
            %a{:href => "http://www.tivit.fi/en/"} Tieto- ja viestintäteollisuuden tutkimus TIVIT Oy
          %span
            %a{:href => "http://cs.helsinki.fi/en/"}
              Department of Computer Science,
              University of Helsinki
