!!!
%html
  %head
    %title Software Factory
    = javascript_include_tag "jquery-1.4.1.min.js"
    = stylesheet_link_tag "style"
  %body
    %header
      %section
        %a#header_logo{:href => root_path}
          = image_tag "logo.png"

        = image_tag @slogan_name, :id => "slogan-image"

        %nav#menu
          %a.menu_education{:href => education_path}            
          %a.menu_research{:href => research_path}
          %a.menu_entrepreneurship{:href => entrepreneurship_path}
        

        %a{:href => contact_path, :id => "contact-link"}

    %section#main-content
      = yield


    %br.clear
    %footer
      %section
        %section
          %a{:href => "http://www.cloudsoftwareprogram.org/", :target => "_blank"} Cloud Software Program
        %section
          %a{:href => "http://www.tivit.fi/en/"} Tieto- ja viestintäteollisuuden tutkimus TIVIT Oy
        %section
          %a{:href => "http://cs.helsinki.fi/en/"}
            Department of Computer Science,
            University of Helsinki
